.App {
  text-align: center;
  background-color: rgb(95, 242, 117);
  font-family: 'Ariel';
  font-weight: 200px;
  font-size: small;
}

.title {
  background-color: rgb(3, 123, 7);
  border-radius: 25px;
}
.food {
height: auto;
width: 200%;
background-color: rgb(0, 71, 0);
border-radius: 25px;
box-shadow: 0px 4px 8px grey;
border: 20px;
border-style: line;
border-color: black;

}

.ingredient-wrap {
  background-color: lightgreen;
  /* margin: 50px;  */
  /* max-height: 700px; */
  max-width: 20%;
  /* overflow: scroll; */
}

.ingredient-grid{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow-x: hidden; 
 scrollbar-width: none;
 
}

.ingredient-card {
  background-color: white;
  border-radius: 25px;
  font-size: 14px;

}

.bi-heart-fill {
  color: red;
}

.ingredient-card:hover {
  background-color: greenyellow;
}

.ingredient-card.active {
  background-color: green;
  border-radius: 25px;

}

.recipe-container {
  margin-top: 50px;
  width: 100%;
  max-height: 350px;
  background-color: rgb(20, 129, 43);
  border-radius: 25px;
  margin-right: 0px;
  overflow-x: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.recipe {
  background-color: rgb(237, 234, 239);
  border-radius: 25px;
  font-size: 25px;
  width: 80%;

}

.main-layout {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.like-btn {
  float: right;
  font-size: 40px;
  border: none;

}

h1,
h2,
h3 {
  font-weight: bold;
}

.favorite-container {
 width: 20%;
 height: auto;
 background-color: lightgreen;
 /* background-color: darkgreen; */
 border-radius: 25px;
}

.favorite{
 background-color: white;
 gap: 20px;
}

.delete-button {
  float: right;
  border: none;
  background-color: greenyellow;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: bold;
}
.popover.recipe-popover {
  max-width: 700px !important;
}

#detail-tooltip {
  background-color: rgb(241, 241, 245);
  height: 50px;
}


.footer {
  background-color: chartreuse;
}

.link {
 margin: 20px;
}

.nutrition-container {
  width: 100%;
  background-color: green;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: blue; */
}

.nutrition {
  background-color: white;
}