.App {
  text-align: center;
  background-color: rgb(95, 242, 117);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: small;
}

.title {
  background-color: rgb(20, 129, 43);
  /* background-color: rgb(3, 123, 7); */
  border-radius: 25px;
}
.food {
height: auto;
width: 200%;
background-color: rgb(0, 71, 0);
border-radius: 25px;
box-shadow: 0px 4px 8px grey;
border: 20px;
border-style: line;
border-color: black;

}

.ingredient-wrap {
  background-color: lightgreen;
   margin-right: 10px;  
  /* max-height: 700px;  */
  width: 40%;
  
  /* overflow-x: hidden; */
 /* overflow: scroll;  */
}

.ingredient-grid{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 10px;
  max-height: 650px;
  overflow-y: auto;   
 scrollbar-width: none;
 
}

.ingredient-card {
  background-color: white;
  border-radius: 25px;
  font-size: 14px;

}

.bi-heart-fill {
  color: red;
}

.ingredient-card:hover {
  background-color: greenyellow;
}

.ingredient-card.active {
  background-color: green;
  border-radius: 25px;

}

.recipe-container {
  margin-top: 50px;
  width: 100%;
  max-height: 350px;
  background-color: rgb(20, 129, 43);
  border-radius: 25px;
  margin-right: 0px;
  overflow-x: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.recipe {
  margin-top: 20px;
  background-color: rgb(237, 234, 239);
  border-radius: 25px;
  font-size: 25px;
  width: 60%;

}

.main-layout {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.like-btn {
  float: right;
  font-size: 40px;
  border: none;

}

h1,
h2,
h3 {
  font-weight: bold;
  background-color: white;
}

.favorite-container {
 width: 40%;
 margin-left: 10px;
 /* height: auto; */
 background-color: lightgreen;
 /* background-color: darkgreen; */
 border-radius: 25px;
 max-height: 740px;
  overflow-y: auto;   
 scrollbar-width: none;
}

.favorite{
 background-color: white;
 gap: 20px;
}

.delete-button {
  background-color: rgb(20, 129, 43);
  float: right;
  border: none;
  /* background-color: greenyellow; */
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: bold;
}
.popover.recipe-popover {
  max-width: 400px !important;
}

#detail-tooltip {
  background-color: rgb(241, 241, 245);
  height: 50px;
}


.footer {
  height: 200px;
  /* background-color: chartreuse; */
  background-color: rgb(20, 129, 43);
}

.link {
 margin: 20px;
 color: black;
}

.nutrition-container {
  width: 100%;
  background-color: rgb(20, 129, 43);
  /* background-color: green; */
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: blue; */
}

.nutrition {
  background-color: white;
}

.all-recipes{
  display: grid;
   grid-template-columns: repeat(7, 1fr);
  background-color:rgb(20, 129, 43);
}

.random {
  width: 200px;
  font-size: 9px;
  /* max-width: 10%; */

}

.random img {
   width: 200px 
}

.random-pop {
  background-color: aliceblue;
  height: 200px;
}