.App {
  text-align: center;
  background-color: rgb(95, 242, 117);
  font-family: 'Ariel';
  font-weight: 200px;
}

.title {
  background-color: rgb(3, 123, 7);
  border-radius: 25px;
}
.food {
height: auto;
width: 200%;
background-color: rgb(0, 71, 0);
border-radius: 25px;
box-shadow: 0px 4px 8px grey;
border: 20px;
border-style: line;
border-color: black;

}

.ingredient-wrap {
  background-color: lightgreen;
  margin: 50px; 
  max-height: 30%;
  max-width: 50%;
}

.ingredient-grid{

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.ingredient-card {
  background-color: white;
  border-radius: 25px;

}

.bi-heart-fill {
  color: red;
}

.ingredient-card:hover {
  background-color: greenyellow;
}

.ingredient-card.active {
  background-color: green;
  border-radius: 25px;

}

.recipe-container {
  margin-top: 120px;
  width: 40%;
  max-height: 350px;
  background-color: rgb(20, 129, 43);
  border-radius: 25px;
  margin-right: 0px;
  overflow-x: hidden;
  scrollbar-width: none;

  
}

.recipe {
  background-color: rgb(237, 234, 239);
  border-radius: 25px;
  font-size: 25px;

}

.main-layout {
  display: flex;
  justify-content: space-around;
}


.like-btn {
  float: right;
  font-size: 40px;
  border: none;

}